<!DOCTYPE html>

<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/wwwroot/css/register.css">
        <!-- Website CSS style -->
        <link rel="stylesheet" type="text/css" href="/wwwroot/css/register.css">
        <!-- Website Font style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <title>Admin</title>
    </head>
    <body>
        <div class="container">
            <div class="row main">
                <div class="panel-heading">
                   <div class="panel-title text-center">
                        <h1 class="title">Mejores Precios</h1>
                        <hr/>
                    </div>
                    <h3>Modificar Usuario</h3>
                </div> 
                <div class="main-login main-center">
                    <form class="form-horizontal" method="post" asp-controller="User" asp-action="Update">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Nombre</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="name" id="name"  placeholder="Ingrese nombre" value="@Model.Name"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="cols-sm-2 control-label">Apellido</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="lastName" id="lastName"  placeholder="Ingrese apellido" value="@Model.LastName"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="age" class="cols-sm-2 control-label">Edad</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="number" class="form-control" name="age" id="age"  placeholder="Ingrese edad" value="@Model.Age"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Neighborhood" class="cols-sm-2 control-label">Barrio</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="Neighborhood" id="Neighborhood" placeholder="Ingrese barrio" value="@Model.Neighborhood"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Gender" class="cols-sm-2 control-label">Gender</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <select name="gender" id="gender">
                                        @if(Model.Gender=="Masculino")
                                        {
                                            <option value="Masculino" selected="selected">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                        }else{
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino" selected="selected">Femenino</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Mail" class="cols-sm-2 control-label">Mail</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="Mail" id="Mail" placeholder="Ingrese mail" value="@Model.Mail" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="Password" id="Password" placeholder="Ingrese password" value=""/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Type" class="cols-sm-2 control-label">Tipo</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <select name="type" id="type">
                                        @if(Model.Type=="Cliente")
                                        {
                                            <option value="Cliente" selected="selected">Cliente</option>
                                            <option value="Moderador">Moderador</option>
                                        }else{
                                            <option value="Cliente">Cliente</option>
                                            <option value="Moderador" selected="selected">Moderador</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Actualizar"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>